.container {
  padding: 0 2rem;
}
.sec1{
  background-image: url('/page1/2.png');
  /* mix-blend-mode: darken; */
  background-position: right;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
}
 .sec2{
   height: 400px;
   width: 600px;
   width: 40%;
  background: linear-gradient(120deg,#D9D9D9 53.49%,#f9f8f800 99.9%); 
   background-image:linear-gradient(to right,white ,white) ; 
   opacity: .6;

 } 
 .sec3{
  height: 400px;
  width: 600px;
  /* background-color: white; */
  position: absolute;
  top: 59px;
  /* opacity: .7; */
 }
